*{
	font-family: Arial, Helvetica, sans-serif;
}
html{
	background-color: #13151e;
}
.textandboxes{
	padding: 30px;
	text-align: center;
	background-color: #13151e;
}
.textbox{
	margin-top: 10px;
}
input{
	width: 70%;
	height: 50px;
	border-radius: 30px;
	padding-left: 20px;
	border: 1px solid #2e2e2e;
	outline: none;
	background-color: #151a33;
	border: 1px solid #ffffff00;
	color: #ffffff;
}
input:hover{
	border: 1px solid #004cda;
	transition: all 10ms 10ms ease;
}
textarea{
	border-radius: 20px;
	padding: 10px 0px 0px 20px;
	outline: none;
	resize: horizontal;
	background-color: #151a33;
	border: 1px solid #ffffff00;
	color: #ffffff;
}
textarea:hover{
	border: 1px solid #004cda;
	transition: all 10ms 10ms ease;
}
.send{
	padding: 15px 40px;
	background-color: #004cda;
	border-radius: 30px;
	color: #fff;
}
.send:hover{
	color: #ebebeb;
	background-color: #0044c2;
}
.send:active{
	color: #ffffff;
	background-color: #003391;
}
#help{
	margin-left: 30px;
}