*{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
html{
	background-color: #18141c;
}
.maintext
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
a
{
    color: blue;
}
.clockpos
{
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
body
{
    margin: 0;
    padding: 0;
}
.box
{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.box .b
{
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ro 2s infinite;
}
.box .b1
{
    border-color: #4a69bd;
    width: 120px;
    height: 120px;
}
.box .b2
{
    border-color: #f6b93b;
    width: 100px;
    height: 100px;
    animation-delay: 0.2s;
}
.box .b3
{
    border-color: #2ecc71;
    width: 80px;
    height: 80px;
    animation-delay: 0.4s;
}
.box .b4
{
    border-color: #34495e;
    width: 60px;
    height: 60px;
    animation-delay: 0.6s;
}
@keyframes ro
{
    0%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50%
    {
        transform: translate(-50%, -50%) rotate(-180deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
body {
    background: #eaecfa;
  }
  .overlay {
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
  }
  .loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
  }
  .loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
  }
  .loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
  }
  .loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
  }
  
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2.2);
    }
    40% {
      transform: scale(1);
    }
  }